body {
    margin: 0px;
}

header {
    color: red;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.body-content{
    height: 80%;
    display: flex;
}

.main-body{
    flex: 9;
    float: left;
    border: 1px solid black;
    padding: 20px;
}

.side-navbar,
.side-navbar ul,
.side-navbar ul li {
    display: flex;
    align-items: center;
    min-width: 100px;
    flex-direction: column;
}

.side-navbar{
    flex: 1;
    border: 1px solid black;
}

.side-navbar ul {
    height: inherit;
    padding: 0;
}

.side-navbar li{
    list-style-type: none;
}

.side-navbar a {
    color: inherit;
    text-decoration: none;
}

.side-navbar #admin{
    color: red;
    align-self: flex-end;
}

.footer-nav {
    display: flex;
    align-items: center;
}
.footer-nav ul{
    flex: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    border: 1px solid red;
}

.footer-nav li{
    list-style-type: none;
    margin: 10px;
}

.footer-nav li img{
    max-height: 30px;
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright p{
    padding: 10px;
}